<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>Navigate</title>
</head>
<body>
    <!--Navigation Bar-->
    <nav th:replace="admin/_fragments :: nav(1)"></nav>

    <!--Main Contents-->
    <div class="m-container m-padded-tb-massive">
        <div class="ui container">

            <!--Display Success Message-->
            <div style="display: flex; justify-content: center" th:unless="${#strings.isEmpty(negativeMessage)}">
                <div class="ui compact negative message">
                    <i class="close icon"></i>
                    <p th:text="${negativeMessage}">Message</p>
                </div>
            </div>

            <!--Display Failure Message-->
            <div style="display: flex; justify-content: center" th:unless="${#strings.isEmpty(positiveMessage)}">
                <div class="ui compact positive message">
                    <i class="close icon"></i>
                    <p th:text="${positiveMessage}">Message</p>
                </div>
            </div>

            <!--Search Form-->
            <form action="#" method="post" class="ui segment form">
                <input type="hidden" name="page">
                <div class="fields">
                    <div class="six wide field">
                        <label>Blog Title</label>
                        <input type="text" name="title" placeholder="Enter Title">
                    </div>
                    <div class="six wide field">
                        <label>Tags</label>
                        <select name="tags" id="tags" multiple="" class="ui dropdown">
                            <option value="">Select Tags</option>
                            <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}">Select Tags</option>
                        </select>
                    </div>
                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui teal button"><i class="search icon"></i>Search</button>
                    </div>
                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui teal button"><i class="edit icon"></i>Create</button>
                    </div>
                </div>
            </form>

            <!--Display Search Results-->
            <div style="display: flex; justify-content: center">
                <table class="ui collapsing celled table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Tags</th>
                        <th>Updated Date</th>
                        <th>Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="blog, iterStat : ${page.content}">
                            <td th:text="${iterStat.count}">count</td>
                            <td th:text="${blog.title}">title</td>
                            <td>
                                <div class="ui teal label">Algorithms</div>
                                <div class="ui teal label">Dynamic Programming</div>
                            </td>
                            <td th:text="${blog.updatedTime}">07-21-2021</td>
                            <td>
                                <a href="" class="ui mini orange button">Edit</a>
                                <a href="" class="ui mini red button">Delete</a>
                            </td>
                        </tr>
                    </tbody>

                    <!--Menu Bar-->
                    <tfoot>
                    <tr>
                        <th colspan="5">
                            <div class="ui right floated pagination menu" th:if="${page.totalPages}>1">
                                <a class="icon item" th:href="@{/admin/tags(page=${page.number}-1)}" th:unless="${page.first}">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="icon item" th:href="@{/admin/tags(page=${page.number}+1)}" th:unless="${page.last}">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

    <!--Bottom Footer-->
    <footer th:replace="admin/_fragments :: footer"></footer>

<th:block th:replace="admin/_fragments :: sharedScripts"></th:block>
<script>
    $('.ui.dropdown')
        .dropdown();
    ;
</script>
</body>
</html>