<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
  <title>New Post</title>
</head>

<body>
<!--Navigation Bar-->
<nav th:replace="admin/_fragments :: nav(2)"></nav>

<!--Main Contents-->
<div class="m-container m-padded-tb-massive">
  <div class="ui container">

    <!--Display Success Message-->
    <div style="display: flex; justify-content: center" th:unless="${#strings.isEmpty(negativeMessage)}">
      <div class="ui compact negative message">
        <i class="close icon"></i>
        <p th:text="${negativeMessage}">Message</p>
      </div>
    </div>

    <!--Display Failure Message-->
    <div style="display: flex; justify-content: center" th:unless="${#strings.isEmpty(positiveMessage)}">
      <div class="ui compact positive message">
        <i class="close icon"></i>
        <p th:text="${positiveMessage}">Message</p>
      </div>
    </div>

    <form class="ui form"
          method="post" th:action="@{/admin/new-post/post}"
          th:object="${blog}">

      <div class="ui mini error message"></div>

      <!--Blog Information-->
      <h4 class="ui dividing header">New Post</h4>
      <div class="two fields">
        <div class="field">
          <input type="text" name="title" placeholder="Enter Title" th:value="*{title}">
        </div>
        <div class="field">
          <select class="ui search dropdown"
                  multiple="" name="tagIDs">
            <option value="">Select Tags</option>
            <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}" th:selected="${#lists.contains(blog.getTags(), tag)}">Select Tags</option>
          </select>
        </div>
      </div>
      <div class="field">
        <input type="url" name="cover" th:value="*{cover}" placeholder="Cover Image URL">
      </div>

      <!--Blog Content Editor-->
      <h4 class="ui dividing header">Content</h4>
      <div class="field">
        <div id="md-editor" style="z-index: 1 !important;">
          <textarea name="content" th:text="*{content}" id="content" style="display: none;" placeholder="Enter Blog Content"></textarea>
        </div>
      </div>

      <!--Blog Post / Save Draft-->
      <div class="ui right aligned container">
        <a class="ui secondary button">Save Draft</a>
        <button class="ui teal button">Post</button>
      </div>
    </form>
  </div>
</div>

<!--Bottom Footer-->
<footer th:replace="admin/_fragments :: footer"></footer>


<th:block th:replace="admin/_fragments :: sharedScripts"></th:block>

<!--Initialize Markdown Editor-->
<script>
  var testEditor;
  $(function() {
    testEditor = editormd("md-editor", {
      width   : "100%",
      height  : 640,
      syncScrolling : "single",
      path    : "/lib/md_editor/lib/"
    });
  });
</script>

<script>
  $('.ui.dropdown')
          .dropdown();
  ;
  $('.ui.form').form({
    fields : {
      title : {
        identifier : 'title',
        rules : [{
          type : 'empty',
          prompt : 'title can\'t be empty',
        }]
      },
      tagIDs : {
        identifier : 'tagIDs',
        rules : [{
          type : 'empty',
          prompt : 'tags can\'t be empty',
        }]
      },
      cover : {
        identifier : 'cover',
        rules : [{
          type : 'empty',
          prompt : 'cover image url can\'t be empty',
        }]
      }
    }
  });
</script>
</body>
</html>