<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>Tags</title>
</head>
<body>

    <!--Navigation Bar-->
    <nav th:replace="admin/_fragments :: nav(3)"></nav>

    <!--Add, Edit, Delete Tags-->
    <div class="m-container m-padded-tb-massive">
        <div class="ui container">

            <div style="display: flex; justify-content: center" th:unless="${#strings.isEmpty(negativeMessage)}">
                <div class="ui compact negative message">
                    <i class="close icon"></i>
                    <p th:text="${negativeMessage}">Message</p>
                </div>
            </div>

            <div style="display: flex; justify-content: center" th:unless="${#strings.isEmpty(positiveMessage)}">
                <div class="ui compact positive message">
                    <i class="close icon"></i>
                    <p th:text="${positiveMessage}">Message</p>
                </div>
            </div>

            <!--Adding Tag Form-->
            <div style="display: flex !important; justify-content: center">

                <form action="#" method="post" th:action="@{/admin/tags/post}" th:object="${tag}" class="ui segment compact form">
                    <div class="fields">
                        <div class="ten wide field">
                            <label>Tag</label>
                            <input type="text" name="name" placeholder="Enter Tag Title" th:value="*{name}">
                        </div>
                        <div class="six wide field">
                            <label><br></label>
                            <button class="ui teal button">Create</button>
                        </div>
                    </div>

                </form>

            </div>

            <!--Display Search Results-->
            <div class="m-padded-tb-large" style="display: flex !important; justify-content: center !important;">
                <table class="ui collapsing celled table">

                        <!--Header-->
                        <thead>
                        <tr>
                            <th></th>
                            <th>Tag Title</th>
                            <th>Manage</th>
                        </tr>
                        </thead>
                        <!--All Tags-->
                        <tbody>
                        <tr th:each="tag, iterStat : ${page.content}">
                            <td th:text="${iterStat.count}">Index</td>
                            <td th:text="${tag.name}">Title</td>
                            <td>
                                <a href="" class="ui mini orange button">Edit</a>
                                <a href="" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red button">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                        <!--Menu Bar-->
                        <tfoot>
                            <tr>
                                <th colspan="5">
                                    <div class="ui right floated pagination menu" th:if="${page.totalPages}>1">
                                        <a class="icon item" th:href="@{/admin/tags(page=${page.number}-1)}" th:unless="${page.first}">
                                            <i class="left chevron icon"></i>
                                        </a>
                                        <a class="icon item" th:href="@{/admin/tags(page=${page.number}+1)}" th:unless="${page.last}">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>

                    </table>
            </div>

        </div>
    </div>

    <!--Bottom Footer-->
    <footer th:replace="admin/_fragments :: footer"></footer>


<th:block th:replace="admin/_fragments :: sharedScripts"></th:block>
<script>
    $('.message .close').on('click', function () {
        $(this)
            .closest('.message')
            .transition('fade');
    });
</script>
</body>
</html>