<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../static/css/customize.css">
</head>
<body>
<!--Navigation Bar-->
<nav class="ui inverted attached segment m-padded-tb-mini">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui header teal item">Blog</h2>
      <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>Main</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>Project</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="trophy icon"></i>Tutorial</a>
      <a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i>About Me</a>
      <div class="right item">
        <div class="ui icon inverted transparent input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
    <div class="ui black menu toggle button m-position-top-right m-mobile-show">
      <i class="sidebar icon"></i>
    </div>
  </div>
</nav>

<!--Main Contents-->
<div class="m-container m-padded-tb-massive">
  <div class="ui container">
    <img src="../static/images/photo.jpeg" alt="" style="width: 200px; height: auto" class="ui circular centered image m-padded-tb-mini">
    <div class="ui horizontal divider"> About Me </div>
    <div class="ui grid">
      <div class="four wide column"></div>
      <div class="eight wide column center aligned">
        <p class="m-text-default m-mobile-wide" style="text-align: center">
          Current undergraduate student studying Computer Science at University of California, San Diego.
          Interested in explore and research in the fields of Computer Science and Mathematics.
        </p>
        <div class="ui horizontal divider"> Skills </div>
        <div class="ui large teal label m-margin-bot-small">Java</div>
        <div class="ui large teal label m-margin-bot-small">Python</div>
        <div class="ui large teal label m-margin-bot-small">C</div>
        <div class="ui large teal label m-margin-bot-small">C++</div>
        <div class="ui large teal label m-margin-bot-small">HTML/CSS</div>
        <div class="ui horizontal divider"> Know More </div>
        <a href="mailto: lianglin.021@gmail.com" class="ui circular icon button"><i class="ui large google icon"></i></a>
        <a href="https://www.github.com/LeonLin0516" class="ui circular icon button"><i class="ui large github icon"></i></a>
        <a href="https://www.linkedin.com/in/leon-lin0516" class="ui circular icon button"><i class="ui large linkedin icon"></i></a>
      </div>
      <div class="four wide column"></div>
    </div>

  </div>
</div>

<!--Bottom Footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="four wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img src="./static/images/wechat_qr_code.JPG" class="ui rounded image" alt="" style="wide:80px; height: 180px">
          </div>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">Newest Posts</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">User Story</a>
          <a href="#" class="item">User Story</a>
          <a href="#" class="item">User Story</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">Connect</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Email</a>
          <a href="#" class="item">GitHub</a>
          <a href="#" class="item">LinkedIn</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">About</h4>
        <p class="m-opacity-mini">Hello! I'm Leon. This is my personal website for sharing blog posts, innovative ideas, researches, personal projects, etc. </p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2020–2021 Designed by Leon Lin</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });
</script>
</body>
</html>