<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
  <title>About Me</title>
</head>

<body>
<!--Navigation Bar-->
<nav th:replace="_fragments :: nav(4)"></nav>

<!--Main Contents-->
<div class="m-container m-padded-tb-massive">
  <div class="ui container">
    <img src="../static/images/photo.jpeg" th:src="@{/images/photo.jpeg}" alt="" style="width: 200px; height: auto" class="ui circular centered image m-padded-tb-mini">
    <div class="ui horizontal divider"> About Me </div>
    <div class="ui grid">
      <div class="four wide column"></div>
      <div class="eight wide column center aligned">
        <p class="m-text-default m-mobile-wide" style="text-align: center">
          Current undergraduate student studying Computer Science at University of California, San Diego.
          Interested in explore and research in the fields of Computer Science and Mathematics.
        </p>
        <div class="ui horizontal divider"> Skills / Technologies </div>
        <div class="ui large teal label m-margin-bot-small">Java</div>
        <div class="ui large teal label m-margin-bot-small">Python</div>
        <div class="ui large teal label m-margin-bot-small">C</div>
        <div class="ui large teal label m-margin-bot-small">C++</div>
        <div class="ui large teal label m-margin-bot-small">HTML/CSS</div>
        <div class="ui horizontal divider"> Know More </div>
        <a href="mailto: lianglin.021@gmail.com" class="ui circular icon button"><i class="ui large google icon"></i></a>
        <a href="https://www.github.com/LeonLin0516" class="ui circular icon button"><i class="ui large github icon"></i></a>
        <a href="https://www.linkedin.com/in/leon-lin0516" class="ui circular icon button"><i class="ui large linkedin icon"></i></a>
      </div>
      <div class="four wide column"></div>
    </div>

  </div>
</div>

<!--Bottom Footer-->
<footer th:replace="_fragments :: footer"></footer>

<th:block th:replace="_fragments :: sharedScripts"></th:block>
</body>
</html>