<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>Main</title>
</head>

<body>
    <!--Navigation Bar-->
    <nav th:replace="_fragments :: nav(0)"></nav>

    <!--Sidebar Menu-->
    <div class="m-position-absolute m-padded-tb-massive m-position-rel-container" style="z-index: 2">
        <div class="ui vertical icon buttons ">
            <a href="#title" class="ui teal button">Title</a>
            <button class="ui teal button">Section 1</button>
            <button class="ui teal button">Section 2</button>
            <button class="ui teal button">Section 3</button>
            <button class="ui teal button">Section 4</button>
            <button class="ui teal button">Section 5</button>
            <a href="#comment" class="ui teal button">Comment</a>
        </div>
    </div>

    <!--Main Contents-->
    <div class="m-container m-padded-tb-massive">
        <div class="ui container">

            <!--Header-->
            <div class="ui top attached two column segment">
                <div class="ui stackable two column grid">
                    <div class="column">
                        <div class="ui medium label">
                            <span>Posted by: </span>
                            <th:block th:text="${blog.user.nickname}">User</th:block>
                        </div>
                        <div class="ui medium label">
                            <span>Updated on: </span>
                            <th:block th:text="${#dates.format(blog.updatedTime, 'MM-dd-yyyy')}">Updated Time</th:block>
                        </div>
                    </div>
                    <div class="m-alignment-responsive column">
                        <div th:each="tag : ${blog.tags}"
                             th:text="${tag.name}"
                             class="ui medium teal label">Tag Name</div>
                    </div>
                </div>
            </div>

            <!--Cover Image-->
            <div class="ui attached segment">
                <img th:src="@{${blog.cover}}" alt="" class="ui fluid rounded image">
            </div>

            <!--Blog Content-->
            <div class="ui attached segment">
                <br>
                <div class="typo typo-selection">
                    <h2 th:text="${blog.title}" class="ui center aligned header" id="title">Title</h2>
                    <div th:utext="${blog.content}" id="blog-content" class="m-responsive-padded-lr-massive m-padded-tb-large js-toc-content"></div>
                </div>
            </div>

            <!--Comments-->
            <div class="ui bottom attached segment">

                <!--Display-->
                <div class="ui teal segment" id="comment-container">
                    <div th:fragment="commentList">
                        <div class="ui threaded comments">
                            <h3 class="ui dividing header">Comments</h3>
                            <div th:each="comment : ${comments}" class="comment">
                                <a class="avatar">
                                    <img src="https://picsum.photos/id/102/450/450">
                                </a>
                                <div class="content">
                                    <span class="author" th:text="${comment.nickname}">Nickname</span>
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">Date of comment</span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">
                                        Comment Content
                                    </div>
                                    <div class="actions">
                                        <a class="reply" th:attr="data-commentid=${comment.id}, data-commentnickname=${comment.nickname}" onclick="reply(this)">Reply</a>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://picsum.photos/id/102/450/450">
                                        </a>
                                        <div class="content">
                                            <span class="author" th:text="${comment.nickname}">Nickname</span>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">Date of comment</span>
                                            </div>
                                            <div class="text" th:text="${comment.content}">
                                                Comment Content
                                            </div>
                                            <div class="actions">
                                                <a class="reply" th:attr="data-commentid=${comment.id}, data-commentnickname=${comment.nickname}" onclick="reply(this)">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Post-->
                <div class="ui form" id="comment-form">
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" value="-1">
                    <div class="field">
                        <textarea name="content" id="comment-content" placeholder="Please enter comment..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-mobile-tb-mini">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" placeholder="Nickname">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-mobile-tb-mini">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-mobile-tb-mini">
                            <button type="button" class="ui teal button m-mobile-wide" id="comment-submit-btn"><i class="edit icon"></i>Submit</button>
                        </div>
                    </div>
                    <div class="ui mini error message"></div>
                </div>

            </div>
        </div>
    </div>

    <!--Bottom Footer-->
    <footer th:replace="_fragments :: footer"></footer>


<th:block th:replace="_fragments :: sharedScripts"></th:block>
<script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
<script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script>
    // comment form checking
    $('.ui.form').form({
        fields : {
            commentContent : {
                identifier : 'commentContent',
                rules : [{
                    type : 'empty',
                    prompt : 'Comment can\'t be empty',
                }]
            },
            nickname : {
                identifier : 'nickname',
                rules : [{
                    type : 'empty',
                    prompt : 'Nickname can\'t be empty',
                }]
            },
            email : {
                identifier : 'email',
                rules : [{
                    type : 'email',
                    prompt : 'Invalid email',
                }]
            }
        }
    });
    $('#comment-submit-btn').click(function () {
        let bool = $('.ui.form').form('validate form');
        if (bool) {
            postData();
        } else {
            console.log("unable to submit comment!");
        }
    });
    function postData() {
        $("#comment-container").load("[[@{/blog-post/comments}]]",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email"   : $("[name='email']").val(),
            "content" : $("[name='content']").val(),
        },function (responseTxt, statusTxt, xhr) {
            clearContent();
        });
    }
    function clearContent() {
        $("[name=nickname]").val('');
        $("[name=email]").val('');
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder", "Please enter comment...");
    }
    function reply(obj) {
        const parentId = $(obj).data('commentid');
        const nickname = $(obj).data('commentnickname');
        $("[name='content']").attr('placeholder', '@'+nickname).focus();
        $("[name='parentComment.id']").val(parentId);
    }
</script>

</body>
</html>