<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>Main</title>
</head>

<body>
    <!--Navigation Bar-->
    <nav th:replace="_fragments :: nav(1)"></nav>

    <!--Main Contents-->
    <div class="m-container m-padded-tb-massive">
        <div class="ui container">
            <div class="ui stackable grid">

                <!--Left Side (blog contents)-->
                <div class="eleven wide column">

                    <!--header info-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                Total <h2 class="ui orange header m-inline-block">14</h2> Posts
                            </div>

                            <div class="right aligned column">
                                <div class="ui search">
                                    <div class="ui icon input">
                                        <input class="prompt" type="text" placeholder="Search by title...">
                                        <i class="search link icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--display all blogs-->
                    <div class="ui attached segment">
                        <div class="ui vertical segment m-padded-tb-large">
                            <div class="ui middle aligned mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">Test Post</h3>
                                    <p class="m-text-default">This is a test post. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <i class="calendar alternate outline icon"></i> 07-14-2021
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned ten wide column">
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag1</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag2</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/102/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">Test Post</h3>
                                    <p class="m-text-default">This is a test post. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <i class="calendar alternate outline icon"></i> 07-14-2021
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned ten wide column">
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag1</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag2</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/102/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">Test Post</h3>
                                    <p class="m-text-default">This is a test post. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <i class="calendar alternate outline icon"></i> 07-14-2021
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned ten wide column">
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag1</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag2</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/102/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">Test Post</h3>
                                    <p class="m-text-default">This is a test post. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <i class="calendar alternate outline icon"></i> 07-14-2021
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned ten wide column">
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag1</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag2</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/102/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">Test Post</h3>
                                    <p class="m-text-default">This is a test post. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <i class="calendar alternate outline icon"></i> 07-14-2021
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned ten wide column">
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag1</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag2</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/102/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">Test Post</h3>
                                    <p class="m-text-default">This is a test post. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <i class="calendar alternate outline icon"></i> 07-14-2021
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned ten wide column">
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag1</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag2</a>
                                            <a href="#" target="_blank" class="ui basic teal label m-text-thin">test tag3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/102/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--navigate pages-->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned three column grid">
                            <div class="column">
                                <a href="#" class="ui teal button">Prev</a>
                            </div>
                            <div class="center aligned column">
                                <div class="ui pagination menu">
                                    <a href="#" class="item">
                                        1
                                    </a>
                                    <a href="#" class="item">
                                        2
                                    </a>
                                    <a href="#" class="item">
                                        3
                                    </a>
                                    <a href="#" class="disabled item">...</a>
                                </div>
                            </div>
                            <div class="right aligned column">
                                <a href="#" class="ui teal button">Next</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Right Side-->
                <div class="five wide column">

                    <!--Right Side-->
                    <div class="ui segments">

                        <!--Display Tags (Header)-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tag icon"></i> Tags
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">More</a> <i class="angle double right icon"></i>
                                </div>
                            </div>
                        </div>

                        <!--Display Tags (Content)-->
                        <div class="ui teal segment">
                            <div class="ui vertical fluid menu">
                                <a th:each="tag : ${tags}"
                                   href="#" class="item">
                                    <span th:text="${tag.name}">Tag Name</span>
                                    <div class="ui left pointing teal label" th:text="${#arrays.length(tag.blogs)}">13</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Right Side (Archives)-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="history icon"></i> Archives
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">More</a> <i class="angle double right icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <div class="item">
                                    <div class='ui center pointing fluid dropdown'>
                                        <div class='text'>July 2021</div>
                                        <i class='dropdown icon'></i>
                                        <div class='menu'>
                                            <div class='item'>User Settings</div>
                                            <div class='item'>Team Settings</div>
                                            <div class='item'>Redeem Game Code</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class='ui center pointing fluid dropdown'>
                                        <div class='text'>June 2021</div>
                                        <i class='dropdown icon'></i>
                                        <div class='menu'>
                                            <div class='item'>User Settings</div>
                                            <div class='item'>Team Settings</div>
                                            <div class='item'>Redeem Game Code</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class='ui center pointing fluid dropdown'>
                                        <div class='text'>October 2020</div>
                                        <i class='dropdown icon'></i>
                                        <div class='menu'>
                                            <div class='item'>User Settings</div>
                                            <div class='item'>Team Settings</div>
                                            <div class='item'>Redeem Game Code</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class='ui center pointing fluid dropdown'>
                                        <div class='text'>September 2019</div>
                                        <i class='dropdown icon'></i>
                                        <div class='menu'>
                                            <div class='item'>User Settings</div>
                                            <div class='item'>Team Settings</div>
                                            <div class='item'>Redeem Game Code</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Bottom Footer-->
    <footer th:replace="_fragments :: footer"></footer>


<th:block th:replace="_fragments :: sharedScripts"></th:block>
<script>
    $('.ui.dropdown')
        .dropdown();
    ;
</script>
</body>
</html>