<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>Main</title>
</head>

<body>
    <!--Navigation Bar-->
    <nav th:replace="_fragments :: nav(1)"></nav>

    <!--Main Contents-->
    <div class="m-container m-padded-tb-massive">
        <div class="ui container">
            <div class="ui stackable grid">

                <!--Left Side (blog contents)-->
                <div class="eleven wide column">

                    <!--header info-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                Total <h2 th:text="${page.totalElements}" class="ui orange header m-inline-block">Count</h2> Posts
                            </div>

                            <div class="right aligned column">
                                <div class="ui search">
                                    <div class="ui icon input">
                                        <input class="prompt" type="text" placeholder="Search by title...">
                                        <i class="search link icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--display all blogs-->
                    <div class="ui attached segment">
                        <div th:each="blog : ${page.content}"
                             class="ui vertical segment m-padded-tb-large">
                            <div class="ui middle aligned mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <a th:href="@{/blog-post/{id}(id=${blog.id})}" th:text="${blog.title}" class="ui h3 header m-title-hovered">Title</a>
                                    <p class="m-text-default" th:text="${blog.description}">This is a test post. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <br>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui medium label">
                                                <i class="large calendar alternate outline icon"></i>
                                                <th:block th:text="${#dates.format(blog.updatedTime, 'MM-dd-yyyy')}">Updated Time</th:block>
                                            </div>
                                        </div>
                                        <div class="right aligned ten wide column">
                                            <div th:each="tag : ${blog.tags}"
                                                 th:text="${tag.name}"
                                                 class="ui large teal label">Tag Name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/102/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--navigate pages-->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned three column grid">
                            <div class="column">
                                <a th:href="@{/(page=${page.number}-1)}" class="ui teal button" th:unless="${page.first}">Prev</a>
                            </div>
                            <div class="center aligned column">
                                <div class="ui pagination menu">
                                    <a th:each="i : ${#numbers.sequence(1, page.totalPages)}"
                                       th:text="${i}"
                                       th:classappend="(${page.number == i - 1} ? 'active')"
                                       th:href="@{/(page=${i - 1})}"
                                       class="item">
                                        page
                                    </a>
                                </div>
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/(page=${page.number}+1)}" class="ui teal button" th:unless="${page.last}">Next</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Right Side-->
                <div class="five wide column">

                    <!--Tags-->
                    <div class="ui segments">

                        <!--Display Tags (Header)-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tag icon"></i> Tags
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">More</a> <i class="angle double right icon"></i>
                                </div>
                            </div>
                        </div>

                        <!--Display Tags (Content)-->
                        <div class="ui teal segment">
                            <div class="ui vertical fluid menu">
                                <a th:each="tag : ${tags}"
                                   href="#" class="item">
                                    <span th:text="${tag.name}">Tag Name</span>
                                    <div class="ui left pointing teal label" th:text="${#arrays.length(tag.blogs)}">13</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Archives-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="history icon"></i> Archives
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">More</a> <i class="angle double right icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <div th:each="archive : ${archives.months}"
                                     class="item">
                                    <div class='ui center pointing fluid dropdown'>
                                        <div th:text="${archive}" class='text'>Month Year</div>
                                        <i class='dropdown icon'></i>
                                        <div class='menu'>
                                            <th:block th:each="blog : ${archives.monthArchives.get(archive)}">
                                                <div class='item' th:text="${blog.title}">Title</div>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Bottom Footer-->
    <footer th:replace="_fragments :: footer"></footer>


<th:block th:replace="_fragments :: sharedScripts"></th:block>
<script>
    $('.ui.dropdown')
        .dropdown();
    ;
</script>
</body>
</html>